<h2 class="post-preview-title">
    <a href="{{POST_URL}}">{{POST_TITLE}}</a>
</h2>
<div class="post-preview-date">
    {{POST_DATE}}
</div>
<div class="post-preview-badges">
    {{POST_BADGES}}
</div>
<div class="post-preview-text">
    {{POST_PREVIEW_TEXT}}
    <br />
</div>